{
	"jbuniversal.bouquets.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		}
	},
	"jbuniversal.bouquets.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "762429ad-01cb-47cd-9296-532a9d6121e3"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "popup",
				"group_popup": "1",
				"width": "500",
				"height": "",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "419246ec-72b1-45f8-9563-e39ad3f537e6"
			}
		},
		"meta": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"show_microdata": "0",
				"element": "35b73628-de93-40fc-9bc2-8c10ea258d14"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full",
				"element": "bade1ba5-1ab1-4ead-969a-d52be6819040"
			}
		},
		"buttons": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "c4eca760-26b4-44af-9df1-e8c56ed27ac6"
			}
		},
		"social": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b1b085b0-a620-4f8e-9e3b-bb95e2376db1"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "a93b2803-9278-4171-94f3-52363dd770b4"
			}
		},
		"properties": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "0f4a8f66-f70b-4db2-a034-3ef791b40a09"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "19a64816-f862-477b-bf37-b06586d2341c"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "6f8f22ba-211b-4688-926b-cb8b44b52405"
			},
			"3": {
				"showlabel": "1",
				"altlabel": "",
				"template": "default",
				"width": "26",
				"height": "26",
				"separated_by": "separator=[ ]",
				"element": "ca1a743b-5f50-47b1-b8f6-b1dea59f1b26"
			}
		},
		"gallery": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<span>%s<\/span>]",
				"display": "all_without_first",
				"template": "default",
				"group_popup": "1",
				"width": "",
				"height": "250",
				"width_popup": "",
				"height_popup": "800",
				"element": "419246ec-72b1-45f8-9563-e39ad3f537e6"
			}
		},
		"comments": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"fb_comm_width": "500",
				"fb_comm_limit": "10",
				"fb_comm_color_scheme": "light",
				"fb_comm_locale": "en_GB",
				"vk_comm_width": "500",
				"vk_comm_limit": "10",
				"vk_comm_attach": "1",
				"vk_comm_auto_publish": "1",
				"vk_comm_height": "500",
				"vk_comm_norealtime": "0",
				"vk_comm_mini": "auto",
				"element": "8102c6bd-2a39-40d6-b528-c3df751106ee"
			}
		},
		"related": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"count": "4",
				"relevant": "0",
				"search-method": "2",
				"order": "relevant",
				"check_type": "0",
				"check_category": "1",
				"conditions": {
					"0": {
						"key": "",
						"value": ""
					}
				},
				"layout": "related",
				"link_to_item": "1",
				"columns": "3",
				"separated_by": "separator=[ ]",
				"element": "d97421cf-ee3e-4635-ba87-98b5e3058947"
			}
		}
	},
	"jbuniversal.bouquets.related": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "default",
				"group_popup": "1",
				"width": "150",
				"height": "150",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "419246ec-72b1-45f8-9563-e39ad3f537e6"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "762429ad-01cb-47cd-9296-532a9d6121e3"
			}
		},
		"meta": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "bade1ba5-1ab1-4ead-969a-d52be6819040"
			}
		}
	}
}