{
	"jbuniversal.bouquets.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b1b085b0-a620-4f8e-9e3b-bb95e2376db1"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "itemlink",
				"group_popup": "1",
				"width": "450",
				"height": "450",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "419246ec-72b1-45f8-9563-e39ad3f537e6"
			}
		},
		"top_left": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"element": "bade1ba5-1ab1-4ead-969a-d52be6819040"
			}
		},
		"top_right": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "6f8f22ba-211b-4688-926b-cb8b44b52405"
			}
		},
		"bottom_right": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "c4eca760-26b4-44af-9df1-e8c56ed27ac6"
			}
		},
		"bottom_overlay": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u0421\u043e\u0441\u0442\u0430\u0432 \u0431\u0443\u043a\u0435\u0442\u0430",
				"separated_by": "separator=[ ]",
				"element": "0f4a8f66-f70b-4db2-a034-3ef791b40a09"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "\u0426\u0432\u0435\u0442\u043e\u0432 \u0432 \u0431\u0443\u043a\u0435\u0442\u0435",
				"separated_by": "separator=[ ]",
				"element": "55389706-4c69-4abf-a91e-8732d64ee92f"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "price",
				"element": "bade1ba5-1ab1-4ead-969a-d52be6819040"
			}
		},
		"rating": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "0",
				"show_microdata": "0",
				"element": "35b73628-de93-40fc-9bc2-8c10ea258d14"
			}
		},
		"buttonbuy": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "buttons",
				"element": "bade1ba5-1ab1-4ead-969a-d52be6819040"
			}
		},
		"favourite": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "bade1ba5-1ab1-4ead-969a-d52be6819040"
			}
		}
	},
	"jbuniversal.bouquets.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b1b085b0-a620-4f8e-9e3b-bb95e2376db1"
			}
		},
		"subtitle": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "762429ad-01cb-47cd-9296-532a9d6121e3"
			}
		},
		"breadcrumbs": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "4c37202a-43c8-4a28-b37a-8c2a0672706b"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "popup",
				"group_popup": "1",
				"width": "600",
				"height": "",
				"width_popup": "",
				"height_popup": "850",
				"element": "419246ec-72b1-45f8-9563-e39ad3f537e6"
			}
		},
		"top_left": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"element": "bade1ba5-1ab1-4ead-969a-d52be6819040"
			}
		},
		"top_right": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "c4eca760-26b4-44af-9df1-e8c56ed27ac6"
			}
		},
		"bottom_right": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "6f8f22ba-211b-4688-926b-cb8b44b52405"
			}
		},
		"bottom_overlay": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u0421\u043e\u0441\u0442\u0430\u0432 \u0431\u0443\u043a\u0435\u0442\u0430",
				"separated_by": "separator=[ ]",
				"element": "0f4a8f66-f70b-4db2-a034-3ef791b40a09"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "\u0426\u0432\u0435\u0442\u043e\u0432 \u0432 \u0431\u0443\u043a\u0435\u0442\u0435",
				"separated_by": "separator=[ ]",
				"element": "55389706-4c69-4abf-a91e-8732d64ee92f"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "6f8f22ba-211b-4688-926b-cb8b44b52405"
			}
		},
		"rating": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"show_microdata": "1",
				"element": "35b73628-de93-40fc-9bc2-8c10ea258d14"
			}
		},
		"shorttext": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "a93b2803-9278-4171-94f3-52363dd770b4"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full",
				"element": "bade1ba5-1ab1-4ead-969a-d52be6819040"
			}
		},
		"properties": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "0f4a8f66-f70b-4db2-a034-3ef791b40a09"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "19a64816-f862-477b-bf37-b06586d2341c"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "6f8f22ba-211b-4688-926b-cb8b44b52405"
			},
			"3": {
				"showlabel": "1",
				"altlabel": "\u0426\u0432\u0435\u0442\u043e\u0432 \u0432 \u0431\u0443\u043a\u0435\u0442\u0435",
				"separated_by": "separator=[ ]",
				"element": "55389706-4c69-4abf-a91e-8732d64ee92f"
			},
			"4": {
				"showlabel": "1",
				"altlabel": "",
				"template": "alphabetic",
				"width": "26",
				"height": "26",
				"separated_by": "separator=[, ]",
				"element": "ca1a743b-5f50-47b1-b8f6-b1dea59f1b26"
			},
			"5": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "74c0c75f-5363-44c6-b2cf-73d2098508d7"
			}
		},
		"fulltext": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "037699df-8a4a-4328-a0f8-6ce14c6a2d1a"
			}
		},
		"gallery": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all_without_first",
				"template": "popup",
				"group_popup": "1",
				"width": "",
				"height": "250",
				"width_popup": "",
				"height_popup": "850",
				"element": "419246ec-72b1-45f8-9563-e39ad3f537e6"
			}
		},
		"comments": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"fb_comm_width": "500",
				"fb_comm_limit": "10",
				"fb_comm_color_scheme": "light",
				"fb_comm_locale": "ru_RU",
				"vk_comm_width": "500",
				"vk_comm_limit": "10",
				"vk_comm_attach": "1",
				"vk_comm_auto_publish": "1",
				"vk_comm_height": "500",
				"vk_comm_norealtime": "0",
				"vk_comm_mini": "auto",
				"element": "8102c6bd-2a39-40d6-b528-c3df751106ee"
			}
		},
		"related": {
			"0": {
				"showlabel": "0",
				"altlabel": "\u041f\u043e\u0445\u043e\u0436\u0438\u0435 \u0431\u0443\u043a\u0435\u0442\u044b",
				"count": "8",
				"relevant": "2",
				"search-method": "2",
				"order": "relevant",
				"check_type": "0",
				"check_category": "1",
				"check_fields": {
					"0": "_itemcategory",
					"1": "7a7a3bc6-1b8b-42e6-9758-706ceefd835b",
					"2": "55389706-4c69-4abf-a91e-8732d64ee92f",
					"3": "ca1a743b-5f50-47b1-b8f6-b1dea59f1b26"
				},
				"conditions": {
					"0": {
						"key": "",
						"value": ""
					}
				},
				"layout": "related",
				"link_to_item": "1",
				"columns": "0",
				"separated_by": "separator=[ ]",
				"element": "d97421cf-ee3e-4635-ba87-98b5e3058947"
			}
		},
		"hits": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		},
		"jmodule": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "493d77cd-c295-41b0-8d54-76890167e6cf"
			}
		}
	},
	"jbuniversal.bouquets.related": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "762429ad-01cb-47cd-9296-532a9d6121e3"
			}
		},
		"sku": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "bade1ba5-1ab1-4ead-969a-d52be6819040"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "itemlink",
				"group_popup": "1",
				"width": "450",
				"height": "450",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "419246ec-72b1-45f8-9563-e39ad3f537e6"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "price",
				"element": "bade1ba5-1ab1-4ead-969a-d52be6819040"
			}
		},
		"rating": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"show_microdata": "0",
				"element": "35b73628-de93-40fc-9bc2-8c10ea258d14"
			}
		},
		"buttonbuy": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "buttons",
				"element": "bade1ba5-1ab1-4ead-969a-d52be6819040"
			}
		},
		"favourite": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "c4eca760-26b4-44af-9df1-e8c56ed27ac6"
			}
		}
	},
	"jbuniversal.bouquets.favorite": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "762429ad-01cb-47cd-9296-532a9d6121e3"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "default",
				"group_popup": "1",
				"width": "450",
				"height": "450",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "419246ec-72b1-45f8-9563-e39ad3f537e6"
			}
		},
		"properties": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "0f4a8f66-f70b-4db2-a034-3ef791b40a09"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "19a64816-f862-477b-bf37-b06586d2341c"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "55389706-4c69-4abf-a91e-8732d64ee92f"
			},
			"3": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "6f8f22ba-211b-4688-926b-cb8b44b52405"
			},
			"4": {
				"showlabel": "1",
				"altlabel": "",
				"template": "default",
				"width": "26",
				"height": "26",
				"separated_by": "tag=[<span>%s<\/span>]",
				"element": "ca1a743b-5f50-47b1-b8f6-b1dea59f1b26"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "price",
				"element": "bade1ba5-1ab1-4ead-969a-d52be6819040"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "a93b2803-9278-4171-94f3-52363dd770b4"
			}
		},
		"meta": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"element": "_itemhits"
			}
		}
	},
	"jbuniversal.bouquets.subcategory_item": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "default",
				"group_popup": "1",
				"width": "32",
				"height": "32",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "419246ec-72b1-45f8-9563-e39ad3f537e6"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b1b085b0-a620-4f8e-9e3b-bb95e2376db1"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "762429ad-01cb-47cd-9296-532a9d6121e3"
			}
		}
	},
	"jbuniversal.flowers.teaser": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "itemlink",
				"group_popup": "1",
				"width": "450",
				"height": "450",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "5528609a-f67b-41e4-8973-346c47d7e192"
			}
		},
		"bottom_right": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "baab5209-3ab8-49f5-aebd-f25002b3dc2c"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "price",
				"element": "baab5209-3ab8-49f5-aebd-f25002b3dc2c"
			}
		},
		"rating": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"show_microdata": "0",
				"element": "221538b5-7c2e-4925-a531-b3e0d40953ea"
			}
		},
		"buttonbuy": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "buttons",
				"element": "baab5209-3ab8-49f5-aebd-f25002b3dc2c"
			}
		},
		"favourite": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "e4d4bb05-ce96-4e00-91c5-99dddc827da2"
			}
		}
	},
	"jbuniversal.flowers.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"subtitle": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "30181bac-9428-4273-8bf3-b76533a71017"
			}
		},
		"breadcrumbs": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "0a5b96cb-153a-41b5-b0fe-42a78e59e2c5"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "popup",
				"group_popup": "1",
				"width": "600",
				"height": "",
				"width_popup": "",
				"height_popup": "",
				"element": "5528609a-f67b-41e4-8973-346c47d7e192"
			}
		},
		"top_right": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "e4d4bb05-ce96-4e00-91c5-99dddc827da2"
			}
		},
		"rating": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"show_microdata": "1",
				"element": "221538b5-7c2e-4925-a531-b3e0d40953ea"
			}
		},
		"shorttext": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "490a5f00-c96f-4b31-849a-43f9fba4f376"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "full",
				"element": "baab5209-3ab8-49f5-aebd-f25002b3dc2c"
			}
		},
		"properties": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"template": "alphabetic",
				"width": "26",
				"height": "26",
				"separated_by": "separator=[, ]",
				"element": "c4c41b2b-2ac4-44ac-8916-f108fda05203"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "464a4883-0e4f-4d9a-82da-20aa9d629860"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "81aa3015-7463-43b0-951c-f5acb1b4d4a0"
			},
			"3": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "1a889b08-e96b-400f-b6c5-aafd7b6136e9"
			},
			"4": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "9447d385-b850-4340-abe0-844d7fa0fd88"
			}
		},
		"fulltext": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "d50c7256-181e-4f5d-ad0b-f6e2278014f5"
			}
		},
		"gallery": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"template": "popup",
				"group_popup": "1",
				"width": "",
				"height": "250",
				"width_popup": "",
				"height_popup": "",
				"element": "5528609a-f67b-41e4-8973-346c47d7e192"
			}
		},
		"comments": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"fb_comm_width": "500",
				"fb_comm_limit": "10",
				"fb_comm_color_scheme": "light",
				"fb_comm_locale": "ru_RU",
				"vk_comm_width": "500",
				"vk_comm_limit": "10",
				"vk_comm_attach": "1",
				"vk_comm_auto_publish": "1",
				"vk_comm_height": "500",
				"vk_comm_norealtime": "0",
				"vk_comm_mini": "auto",
				"element": "baf91dee-0400-49e7-8083-b7d6980441f6"
			}
		},
		"related": {
			"0": {
				"showlabel": "0",
				"altlabel": "\u041f\u043e\u0445\u043e\u0436\u0438\u0435 \u0431\u0443\u043a\u0435\u0442\u044b",
				"count": "8",
				"relevant": "1",
				"search-method": "2",
				"order": "relevant",
				"check_type": "0",
				"check_category": "1",
				"check_fields": {
					"0": "_itemname",
					"1": "_itemcategory",
					"2": "30181bac-9428-4273-8bf3-b76533a71017",
					"3": "baab5209-3ab8-49f5-aebd-f25002b3dc2c",
					"4": "c4c41b2b-2ac4-44ac-8916-f108fda05203",
					"5": "464a4883-0e4f-4d9a-82da-20aa9d629860",
					"6": "81aa3015-7463-43b0-951c-f5acb1b4d4a0",
					"7": "1a889b08-e96b-400f-b6c5-aafd7b6136e9"
				},
				"conditions": {
					"0": {
						"key": "",
						"value": ""
					}
				},
				"layout": "related",
				"link_to_item": "1",
				"columns": "0",
				"separated_by": "separator=[ ]",
				"element": "5513aa35-f191-46a3-92fb-22b62ab94fbb"
			}
		},
		"hits": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemhits"
			}
		},
		"jmodule": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "670dd8b9-99df-4dd1-822f-2524bde913c9"
			}
		}
	},
	"jbuniversal.flowers.related": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"sku": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "teaser",
				"element": "baab5209-3ab8-49f5-aebd-f25002b3dc2c"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "itemlink",
				"group_popup": "1",
				"width": "400",
				"height": "400",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "5528609a-f67b-41e4-8973-346c47d7e192"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "price",
				"element": "baab5209-3ab8-49f5-aebd-f25002b3dc2c"
			}
		},
		"rating": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"show_microdata": "0",
				"element": "221538b5-7c2e-4925-a531-b3e0d40953ea"
			}
		},
		"buttonbuy": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "buttons",
				"element": "baab5209-3ab8-49f5-aebd-f25002b3dc2c"
			}
		},
		"favourite": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"element": "e4d4bb05-ce96-4e00-91c5-99dddc827da2"
			}
		}
	},
	"jbuniversal.bouquets.edit": {
		"content": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "762429ad-01cb-47cd-9296-532a9d6121e3"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "b1b085b0-a620-4f8e-9e3b-bb95e2376db1"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "a93b2803-9278-4171-94f3-52363dd770b4"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "037699df-8a4a-4328-a0f8-6ce14c6a2d1a"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "55389706-4c69-4abf-a91e-8732d64ee92f"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "19a64816-f862-477b-bf37-b06586d2341c"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "ca1a743b-5f50-47b1-b8f6-b1dea59f1b26"
			},
			"7": {
				"altlabel": "",
				"required": "0",
				"element": "0f4a8f66-f70b-4db2-a034-3ef791b40a09"
			}
		},
		"meta": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "bade1ba5-1ab1-4ead-969a-d52be6819040"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "74c0c75f-5363-44c6-b2cf-73d2098508d7"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			}
		}
	},
	"jbuniversal.flowers.edit": {
		"content": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "30181bac-9428-4273-8bf3-b76533a71017"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "9447d385-b850-4340-abe0-844d7fa0fd88"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "490a5f00-c96f-4b31-849a-43f9fba4f376"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "d50c7256-181e-4f5d-ad0b-f6e2278014f5"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "464a4883-0e4f-4d9a-82da-20aa9d629860"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "81aa3015-7463-43b0-951c-f5acb1b4d4a0"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "1a889b08-e96b-400f-b6c5-aafd7b6136e9"
			},
			"7": {
				"altlabel": "",
				"required": "0",
				"element": "c4c41b2b-2ac4-44ac-8916-f108fda05203"
			}
		},
		"meta": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "baab5209-3ab8-49f5-aebd-f25002b3dc2c"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "2ea0fad6-153d-4a98-b8c9-2aaa9a84d661"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			}
		}
	},
	"jbuniversal.bouquets.ymlexport": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b1b085b0-a620-4f8e-9e3b-bb95e2376db1"
			},
			"1": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "762429ad-01cb-47cd-9296-532a9d6121e3"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "price",
				"element": "bade1ba5-1ab1-4ead-969a-d52be6819040"
			}
		},
		"properties": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u0421\u043e\u0441\u0442\u0430\u0432 \u0431\u0443\u043a\u0435\u0442\u0430",
				"separated_by": "separator=[ ]",
				"element": "0f4a8f66-f70b-4db2-a034-3ef791b40a09"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "",
				"height": "",
				"width_popup": "",
				"height_popup": "",
				"element": "419246ec-72b1-45f8-9563-e39ad3f537e6"
			}
		},
		"description": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "a93b2803-9278-4171-94f3-52363dd770b4"
			}
		},
		"vendor": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "762429ad-01cb-47cd-9296-532a9d6121e3"
			}
		}
	},
	"jbuniversal.flowers.ymlexport": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "price",
				"element": "baab5209-3ab8-49f5-aebd-f25002b3dc2c"
			}
		},
		"properties": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"template": "alphabetic",
				"width": "26",
				"height": "26",
				"separated_by": "separator=[ ]",
				"element": "c4c41b2b-2ac4-44ac-8916-f108fda05203"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "",
				"height": "",
				"width_popup": "",
				"height_popup": "",
				"element": "5528609a-f67b-41e4-8973-346c47d7e192"
			}
		},
		"description": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "490a5f00-c96f-4b31-849a-43f9fba4f376"
			}
		},
		"vendor": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "30181bac-9428-4273-8bf3-b76533a71017"
			}
		}
	},
	"jbuniversal.flowers.favorite": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "first",
				"template": "default",
				"group_popup": "1",
				"width": "450",
				"height": "450",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "5528609a-f67b-41e4-8973-346c47d7e192"
			}
		},
		"properties": {
			"0": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "464a4883-0e4f-4d9a-82da-20aa9d629860"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "81aa3015-7463-43b0-951c-f5acb1b4d4a0"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "",
				"template": "default",
				"width": "26",
				"height": "26",
				"separated_by": "separator=[ ]",
				"element": "c4c41b2b-2ac4-44ac-8916-f108fda05203"
			},
			"3": {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "1a889b08-e96b-400f-b6c5-aafd7b6136e9"
			}
		},
		"meta": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "price",
				"element": "baab5209-3ab8-49f5-aebd-f25002b3dc2c"
			}
		}
	}
}